button {
    background-color: #4CAF50; /* Green */
    border: black;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .square {
    height: 60px;
    width: 120px;
  }